<main>
  <!-- Previous Button -->
  <button
    [ngStyle]="prevButton"
    [disabled]="currentLocation <= 1"
    (click)="goPrevPage()"
  >
    <i class="fas fa-arrow-circle-left"></i>
  </button>

  <!-- Book -->
  <div [ngStyle]="book" class="book">
    <!-- Paper 1 -->
    <div
      [ngStyle]="{ 'z-index': paperFlipped[0].zIndex }"
      [ngClass]="{ flipped: paperFlipped[0].flipped }"
      class="paper"
    >
      <div class="front">
        <app-cover></app-cover>
      </div>
      <div class="back">
        <app-about></app-about>
      </div>
    </div>
    <!-- Paper 2 -->
    <div
      [ngStyle]="{ 'z-index': paperFlipped[1].zIndex }"
      [ngClass]="{ flipped: paperFlipped[1].flipped }"
      class="paper"
    >
      <div class="front">
        <app-work-experience></app-work-experience>
      </div>
      <div class="back">
        <app-skills></app-skills>
      </div>
    </div>
    <!-- Paper 3 -->
    <div
      [ngStyle]="{ 'z-index': paperFlipped[2].zIndex }"
      [ngClass]="{ flipped: paperFlipped[2].flipped }"
      class="paper"
    >
      <div class="front">
        <app-contact></app-contact>
      </div>
      <div class="back">
        <app-source-code></app-source-code>
      </div>
    </div>
  </div>

  <!-- Next Button -->
  <button
    [ngStyle]="nextButton"
    [disabled]="currentLocation >= maxLocation"
    (click)="goNextPage()"
  >
    <i class="fas fa-arrow-circle-right"></i>
  </button>
</main>
